.NotFound {
  height: 100vh;
  background-image: url("../../assets/images/background-login.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.NotFound p {
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-weight: 700;
}

.gifloading {
  background-image: url("../../assets/images/notFound.gif");
  background-position: center;
  background-repeat: not-repeat;
  background-size: contain;
  width: 200px;
  height: 150px;
}
